@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply overflow-y-scroll;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(255 255 255);
  font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0f0f0f;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #616161;
}